*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: rgb(40,40,40);
}
html{
    scroll-behavior: smooth;
}
.search-component{
    width: 100%;
    height: 100vh;
}

h1{
    font-size: 2.4rem;
    color: red;
    text-align: center;
}
.dropdown-content{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2,auto);
    justify-content: center;
}
#dropdownbtn{
    background-color: rgb(128,0,0);
    color: #fff;
    padding: .5rem 4.5rem;
    font-size: 2rem;
    border: none;
    border-radius: .2rem;
    cursor: pointer;
    transition: all .5s;
    position: relative;
}

#dropdownbtn:hover , #dropdownbtn:focus{
    background-color: rgba(128,0,0,0.6);
}


.dropdownlist{
    margin-top: 6px;
    max-height: 300px;
    overflow: auto;
    background-color: #fff;
    outline: 1px solid gainsboro;
    display: none;
}

.show{
    display: block;
}
.search{
    width: 100%;
    height: 6vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 20px;
}

.search > i{
    font-size: 1.5rem;
    color: red;
}

.search > input[type=text]{
    flex: 1;
    font-size: 1.2rem;
    border: none;
    outline: none;
    padding-left: 10px;
}

#links .link{
    text-align: center;
    font-size: 1.3rem;
    color: red;
    padding: 12px;
    text-decoration: none;
    display: block;
    transition: all .5s;
    border-bottom: 1px solid gray;
}

#links .link:hover{
    background-color: darkred;
    color: #fff;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 100vh;
    font-size: 3rem;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow{
    from{
        text-shadow: 0 0 5px #fff,0 0 10px #fff,0 0 15px #0073e6,0 0 20px #0073e6,0 0 25px #0073e6, 0 0 30px #0073e6 , 0 0 35px #0073e6;
    }
    to{
        text-shadow: 0 0 10px #fff,0 0 20px #fff,0 0 30px #0073e6,0 0 40px #0073e6,0 0 50px #0073e6, 0 0 60px #0073e6 , 0 0 70px #0073e6;
    }
}

.to-top{
    background-color: #fff;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    text-decoration: none;
    color: red;
    font-size: 2rem;
    opacity: 0;
}

.to-top.active{
    opacity: 1;
}

.ion-chevron-up , .ion-chevron-down{
    animation: animate .7s ease-in-out infinite alternate;
}

@keyframes animate{
    from{
        margin-bottom: 12px;
        color: darkred;
    }
    to{
        margin-bottom: 0;
    }
}
